@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>


<h4>Yeni Kullanici Listesi Ekle</h4>
@{await Html.RenderPartialAsync("UploadUserList"); }


@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @TempData["Message"]
        <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
            <a type="button" class="btn btn-primary" 
               asp-controller="User" 
               asp-action="ApplyUserList" 
               asp-route-userListId="@TempData["UserListId"]">Uygula</a>
        </span>
    </div>
}

<h1>Kullanici Listesi</h1>
<br />
<table class="table table-striped" id="userTable">
    <thead>
    <tr>
        <th>
            User
        </th>
        <th>
            Email
        </th>
        <th style="width:10%">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm">
                        <a>
                            @user.UserName
                        </a>
                        <br>
                        <small>
                            @user.Id
                        </small>
                    </div>
                </div>
            </td>
            <td>
                <a>
                    @user.Email
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu shadow animated--grow-in">
                        <a style='margin-right:16px' asp-controller="userroles" asp-action="Index" asp-route-userId="@user.Id" class="dropdown-item">
                            <i class="fas fa-wrench"></i> Manage Roles
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>